<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts && !error"><em>Loading...</em></p>

<p *ngIf="error">
  <strong *ngIf="error === 'TimeoutError'">The request is taking too long to respond</strong>
  <strong *ngIf="error !== 'TimeoutError'">Some error ocurred</strong>
  <br /><br />
  <button class="btn btn-primary" (click)='this.getForecast()'>please, click here to try again</button>
</p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateForecast | date:'dd/MM/yyyy' }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
